{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Transactions | {{ g.user['email'] }} | FlaskLoyaltyPoints {% endblock %}</h1>
{% endblock %}

{% block content %}
<div>
    <h3>Welcome, {{ g.user['email'] }}!</h3>
    {% if user.points > 0 %}
    <p>You have {{ g.user['points'] }} points.</p>
    {% else %}
    <p>You have no points remaining</p>
    {% endif %}
  </div>
</div>
{% if transactions or redemptions %}
<section>
    <!-- TODO: make this section as tabs ?-->
    <div class="grid">
        <article>
            <h3>Transfers</h3>
            <div>
              <p>Total points received: {{ total_points_received }}</p>
              <p>Total points transferred out: {{ total_points_sent }}</p>
              <p>Total points from vouchers/merchants: {{ total_points_redeemed }}</p>
              <p><strong>Balance form totals: {{ balance_from_totals }}</strong></p>
            </div>
           <table class="table">
             <thead>
               <tr>
                 <th>Date</th>
                 <th>Amount</th>
                 <th>Counterpart</th>
               </tr>
             </thead>
             <tbody>
               {% for tx in transactions %}
               <tr>
                 <td>{{ tx.created }}</td>
                 <td>{{ tx.points }}</td>
                 {% if tx.sender_id == g.user['id'] %}
                 <td>to {{ tx.email }}</td>
                 {% else %}
                 <td>from {{ tx.email }}</td>
                 {% endif %}
               </tr>
               {% endfor %}
             </tbody>
           </table>
          </article>
        <article>
            <h3>Redemptions </h3>
            <table class="table">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Amount</th>
                  <th>Voucher</th>
                  <th>Merchant</th>
                </tr>
              </thead>
              <tbody>
                {% for r in redemptions %}
                <tr>
                  <td>{{ r.created }}</td>
                  <td>{{ r.points_redeemed }}</td>
                  <td>{{ r.code }}</td>
                  <td>{{ r.name }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

        </article>
    </div>
</section>
{% else %}
<p>No transactions to display </p>
{% endif %}

{% endblock %}