{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Posts{% endblock title %}</h2>
{% endblock header %}

{% block content %}
<div class="">
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% if g.user %}
  <div>
    <button><a class="action" href="{{ url_for('posts.create') }}">New</a></button>
  </div>
    
  {% endif %}
</div classgrid> 
  {% for post in posts %}
    <article class="cell card">
      <h3 class="message">{{ post["title"] }}</h3>
      <p class="message">{{ post["body"] }}<p>
      <aside>Posted by {{ post["username"] }} on {{ post["updated_at"].strftime("%b %d, %Y at %I:%M%p") }}</aside>
      {% if g.user['id'] == post['author_id'] %}
          <a class="action" href="{{ url_for('posts.update', id=post['id']) }}">Edit</a>
        {% endif %}
    </article>
  {% endfor %}
{% endblock content %}